<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TITULO</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/static/adm1.js" type="text/javascript"></script>
        <script src="/static/adm2.js" type="text/javascript"></script>
        <!--<script src="/idioma/es-CL_001.js" type="text/javascript"></script>-->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <link href="/static/adm1.css" rel="stylesheet" media="all" />
        <link rel="shortcut icon" href='/static/fav1.ico' />
        <meta charset="UTF-8">
        <script>
            var version = 0;
        </script>
    </head>
    <body>
        <div class="c">
            <div class="t">
                <div class="tb" onclick="TM()"><div></div><div></div><div></div></div>
                <div class="tt" onclick="POP()">HOLA</div>
                <div class="te" onclick="HE()"></div>
            </div>
            <div class="l">
                <div class="lc"></div>
                <div class="lb"></div>
            </div>
            <div class="e">
                <div class="et">AYUDA</div>
                <video class="v" id="v" controls onplaying="Sv()" onpause="Pv()">
                    <!--<source src="/v/v01.mp4" type="video/mp4">-->
                </video>
                <div class="ce">
                    <div class="el"></div>
                </div>
            </div>
            <div class="p">
                <div class="pi"></div>
            </div>
            <div class="h"><div class="ch"></div></div>
        </div>
    </body>
</html>