

    <div class="ht r">
        <h1>Categorias</h1>
        <h3>Completa los Campos</h3>
        <div class="clearfix va ri">
            <a class="i i1"></a>
            <a class="i i2"></a>
        </div>
    </div>
    <div class="hf bt">
        <div class="ft" id="0-0">
            <div class="r">
                <h2>Administrar</h2>
                <div class="clearfix va ri">
                    <a class="i i3"></a>
                    <a class="i i4"></a>
                </div>
            </div>
            <h3>Supermercados</h3>
            <div class="f">
                <input id="accion" type="hidden" value="producto">
                <input id="id" type="hidden" value="{{.ID_pro}}">
                <input id="id_cat" type="hidden" value="{{.ID_cat}}">
                <input id="id_sup" type="hidden" value="{{.ID_sup}}">
                <label>
                    <span>Nombre</span>
                    <input id="n" type="text" value="{{.Nombre}}">
                    <div class="msg"></div>
                </label>
                 <label>
                    <span>Precio</span>
                    <input id="p" type="text" value="{{.Precio}}">
                    <div class="msg"></div>
                </label>
                <div class="s">
                    <div class="enviar" onclick="Send()">Enviar</div>
                </div>
            </div>
        </div>
    </div>
    <div class="hf ab">
        <div class="ft" id="0-0">
            <div class="r">
                <h2>Aministrar</h2>
                <div class="clearfix va ri">
                    <a class="i i5"></a>
                    <a class="i i6"></a>
                </div>
            </div>
            <h3>Supermercados</h3>
            <div class="lis">
                 {{range .SUPER.Categorias}}
                 {{if eq .IdCat $.ID_cat}}
                 {{range .Productos}}
                <div class="it r" id="1-0">
                    <div class="im">{{.Nombre}}</div>
                    <div class="clearfix va ri">
                        <a class="i i5" onclick="cargarContenido('/producto/{{$.ID_sup}}/{{$.ID_cat}}/{{.ID}}')" ></a>
                        <a class="i i7" onclick="Eliminar('producto','{{$.ID_sup}}','{{$.ID_cat}}','{{.ID}}')"></a>
                    </div>
                </div>
                 {{end}}
                 {{end}}
                 {{end}}
            </div>
        </div>
